Repository joshpearce/nix-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-private-encrypted, nixfmt, statix, deadnix

verify-private-encrypted:
  name: Verify private/config.nix.age is current
  entry: make verify
  language: system
  pass_filenames: false

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

statix:
  name: statix
  entry: statix check
  language: system
  pass_filenames: false

deadnix:
  name: deadnix
  entry: deadnix --fail
  language: system

remove license slug
  README.md
Due: none

udpate readme
  README.md
Due: none

Add hosts entry for loki.dunker-bramble.ts.net
  default.nix
Due: nixfmt, statix, deadnix

update some descriptions
  Makefile
  README.md
Due: none

Move hosts entries to private config
  default.nix
  private-options.nix
  private.example/config.nix
  private/config.nix.age
Due: verify-private-encrypted, nixfmt, statix, deadnix

Remove hazmat VLAN access to IoT network
  firewall.nix
Due: nixfmt, statix, deadnix

Add transparent DNS interception for internal VLANs
  firewall.nix
  history/dns-interception-options.md
  ulogd.nix
  vector.nix
Due: nixfmt, statix, deadnix

Add encrypted DNS (DoT/DoH) detection logging
  firewall.nix
  history/dns-interception-options.md
  prometheus/dns-redirect-dashboard.json
  prometheus/encrypted-dns-dashboard.json
  prometheus/flow-totals.json
  ulogd.nix
  vector.nix
Due: nixfmt, statix, deadnix

Add chrony NTP server and firewall port manifest
  default.nix
  firewall.nix
  networkd.nix
  vector.nix
Due: nixfmt, statix, deadnix

fix initstepslew option
  default.nix
Due: nixfmt, statix, deadnix

allow chrony to listen on all ports
  default.nix
Due: nixfmt, statix, deadnix

add bindaddress to chrony
  default.nix
Due: nixfmt, statix, deadnix

fix log key for ntp
  vector.nix
Due: nixfmt, statix, deadnix

small fix for misleading email when the service can't contact AWS for some reason.
  update-public-ip.nix
Due: nixfmt, statix, deadnix

make test now runs nixos-rebuild test, not flake checks
  Makefile
  README.md
Due: none

use ip addresses in DoT URLs
  dnsproxy.nix
Due: nixfmt, statix, deadnix

clean up printer ip
  firewall.nix
  ulogd.nix
Due: nixfmt, statix, deadnix

refactor forward chain
  firewall.nix
Due: nixfmt, statix, deadnix

organize ip addresses. first step to more static addresses
  networkd.nix
  private-options.nix
  private.example/config.nix
  scripts/monitor-ip-changes.py
Due: nixfmt, statix, deadnix

change ip monitor script to run locally
  scripts/monitor-ip-changes.py
Due: none

migrating some ips from dhcp to static.
  private/config.nix.age
Due: verify-private-encrypted

cleanup hard coded ips in firewall config
  firewall.nix
  private.example/config.nix
  tests/firewall-tests.nix
Due: nixfmt, statix, deadnix

hostname updates
  firewall.nix
  private.example/config.nix
  private/config.nix.age
  tests/firewall-tests.nix
Due: verify-private-encrypted, nixfmt, statix, deadnix

config diff target
  Makefile
Due: none

switch nas ips to static. add garbage collection unit.
  default.nix
  private/config.nix.age
Due: verify-private-encrypted, nixfmt, statix, deadnix

add rp_filter audit logging to detect weak ES model traffic
  firewall.nix
  ulogd.nix
  vector.nix
Due: nixfmt, statix, deadnix

device manifest update
  private/config.nix.age
Due: verify-private-encrypted

updates to ip manifest
  private/config.nix.age
Due: verify-private-encrypted

feat: add local DNS resolution for devices in ip_manifest
  Makefile
  README.md
  dnsproxy.nix
  firewall.nix
  private/config.nix.age
  tests/firewall-tests.nix
  tests/lib.nix
Due: verify-private-encrypted, nixfmt, statix, deadnix

docs: update private.example with lowercase names and DNS documentation
  private.example/config.nix
Due: nixfmt, statix, deadnix

allow printing from hazmat
  firewall.nix
  private/config.nix.age
Due: verify-private-encrypted, nixfmt, statix, deadnix

feat: enable IPv6 link-local on LAN VLAN for cross-switch NDP/MLD
  firewall.nix
  networkd.nix
  tests/firewall-tests.nix
Due: nixfmt, statix, deadnix

added squirrelcam
  private/config.nix.age
Due: verify-private-encrypted

fix: refuse IPv6 RA on WAN to prevent broken fdff::/64 SLAAC
  networkd.nix
Due: nixfmt, statix, deadnix

add boot target to makefile
  Makefile
  flake.lock
Due: none

added tmux
  default.nix
Due: nixfmt, statix, deadnix

fix(vector): correct loki tailnet IP in hosts entry
  private/config.nix.age
Due: verify-private-encrypted

fix router healthchecks credential delivery
  Makefile
  README.md
  docs/router-deployment.md
  secrets/healthchecks-io-ping-key.age
  tests/makefile-decrypt-test.sh
  update-public-ip.nix
Due: nixfmt, statix, deadnix

make decrypt test portable
  tests/makefile-decrypt-test.sh
Due: none

Add passive router correctness metrics
  node-exporter.nix
  scripts/collect-router-health.sh
  tests/default.nix
  tests/router-health-tests.nix
Due: nixfmt, statix, deadnix

Path conditions:
  verify-private-encrypted: any of: private/config\.nix
  nixfmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
